:root {
    --icon-left: url('../../assets/icons/left-arrow.png');
    --icon-right: url('../../assets/icons/right-arrow.png');
    --featuredbox-background-color:  #a8c524b8;
    --product-price-font-size : 1.4rem;
    --product-title-font-size : 1.2rem;
}

#sec1 {
    direction: rtl;
    font-family: monospace;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 0 10px;
}

#title {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

#under-title {
    font-size: 1.5rem;
    margin: 0 20px;
    text-transform: capitalize;
    font-weight: 550;

}

#button-container img {
    width: 60px;
    float: right;
    margin: 20px 20px;
    opacity: .8;
    transition: transform .1s ease-in-out;
    cursor: pointer;
}

#button-container img:hover {
    transform: scale(1.1);
}
#featured-box {
    margin: 0;
    max-width: 800px; 
    width: 100%;
    background-color: var(--featuredbox-background-color);
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
}



/* ----------------- featured product styling -------------------- */
.featured-product-card {
    background-color: #ffffff;
    max-width: 180px;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px;
    flex: 0 0 auto;
    cursor: pointer;
}

.featured-img-container img {
    width: 100%;
    border-radius: 10px;
}

.featured-card-title {
    font-size: var(--product-title-font-size);
    max-width: 130px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-featured {
    font-size: var(--product-price-font-size);
    font-weight: bold;
}

/* -------------------- slider styling ---------------------- */
.featured-box-slider {
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

#featured-box:hover .slider-prev,
#featured-box:hover .slider-next {
    opacity: 1;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 10px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-color: #ffffffa9;
    z-index: 1;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 20px;

    transition: opacity 0.3s ease, background-size 200ms ease-in-out;
    opacity: 0;
}



.slider-prev:before,
.slider-next:before {
    content: '';

}

.slider-prev:hover,
.slider-next:hover {
    
    background-size: 80%;
    background-color: #ffffff;
}


.slider-prev {
    left: 10px;
    background-image:  var(--icon-left);

}

.slider-next {
    right: 10px;
    background-image: var(--icon-right);

}

main {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
}