<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/fearured_box/single_product_featured.css">
    <link rel="stylesheet" href="../css/fearured_box/featured_box.css">
</head>

<body>
    <div id="container">

        <!-- this is the single product template  -->
        <div id="featured-product-template-container" hidden></div>
        <!-- ------------------ -->


        <main>
            <div id="sec1">
                <div id="title-container">
                    <h1 id="title">منتجات جديدة </h1>
                    <p id="under-title">اكتشف أحدث الإضافات</p>
                </div>
                <div id="button-container">
                    <img src="../assets/icons/next-black.png" alt="">
                </div>
            </div>
            <div id="sec2" class="card_container">




            </div>

        </main>


    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/funcs.js"></script>
    <script src="../js/products_handler.js"></script>

    <script>
        let products_number = 3;
        let products_order_by = "new";
        let product_template;

        $(document).ready(function () {
       
            
        });

        function load_products(filter) {
            console.log(get_product_filter());
            makeAjaxRequest(
                "../includes/seller/get_seller_products.inc.php",
                "POST",
                get_product_filter(),
                load_products_success_callback,
                function (xhr, status, error) {
                    console.log(xhr.responseText);  // Log the full response for further debugging
                }

            );
        }

        function load_products_success_callback(data) {
            console.log(data.message);
            var $template = product_template;   
            console.log(product_template[0].outerHTML);
             $("#sec2").empty();
             render_product_card(data.message, $template, $("#sec2"));
           
        }


        function get_product_filter() {
            let filter = {};
            filter.items_per_page = products_number;
            filter.order_by = products_order_by;
            return filter;
        }

        fetch("featured_product.layout.html")
            .then((response) => response.text())
            .then((data) => {
                $("#featured-product-template-container").append(data);
                product_template = $("#featured-product-template-container .template-cont").detach(); // Detach to keep the original hidden
                load_products();

            });
    </script>
</body>

</html>