    <div onclick="open_product_page(event)" class="card rounded-4 border-0  featured-product-card">
        <div id="featured-img-container">
            <a href="#" data-product-id="">
                <img src="../uploads/412c2t6A_YL._SY500_.jpg" class="card-img-top rounded-5" alt="" />
            </a>
            <span class="new-flag">جديد</span>
        </div>
        <div class="card-body text-center">
            <p class="featured-card-title">دبليج خاصخاصخاصخاص ب موس طحان</p>
            <div id=" featured-stars-container">
                <img src="../assets/icons/star.png" alt="star img">
                <img src="../assets/icons/star.png" alt="star img">
                <img src="../assets/icons/star.png" alt="star img">
                <img src="../assets/icons/star.png" alt="star img">
            </div>
            <!-- <p class="card-text description"></p> -->
            <div class="card-text featured-price_container"> <span class="currency-featured"> درهم</span><span
                    class="price-featured">100 </span>
            </div>
        </div>
    </div>
