<div id="featured-box">
    <div id="sec1">
        <div id="title-container">
            <h1 id="title">منتجات جديدة </h1>
            <p id="under-title">اكتشف أحدث الإضافات</p>
        </div>
        <div id="button-container">
            <img src="assets/icons/next-black.png" alt="">
        </div>
    </div>
    <div class="divider-h"></div>
    <div class="featured-box-slider">
        <!-- Product Cards -->
        <div id="featured-product-template" class="card featured-product-card " >
            <div class="featured-img-container">
                <img src="uploads/412c2t6A_YL._SY500_.jpg" alt="Product 1" />
            </div>
            <div class="card-body text-center">
                <p class="featured-card-title">Product 1</p>
                <div class="price-featured">100 درهم</div>
            </div>
        </div>

        <!-- Additional Product Cards -->
    </div>
</div>