<div class="featured-box">
    <div class="sec1">
        <div class="title-container">
            <h1 class="box-title">منتجات جديدة </h1>
            <p class="box-under-title">اكتشف أحدث الإضافات</p>
        </div>
        <div class="button-container">
            <img src="assets/icons/next-black.png" alt="">
        </div>
    </div>
    <div class="divider-h"></div>
    <div class="featured-box-slider">
        <!-- Product Cards -->
        <div  class="card featured-product-card featured-product-template " >
            <div class="featured-img-container">
                <img src="uploads/412c2t6A_YL._SY500_.jpg" alt="Product 1" />
            </div>
            <div class="card-body text-center py-1">
                <p class="featured-card-title">Product 1</p>
                <div class="price-featured">100 درهم</div>
            </div>
        </div>

        <!-- Additional Product Cards -->
    </div>
</div>